/*

COLOR HEX CODE REFERENCE:
	dark blue 2 (text, outlines): #22385B
	dark blue 1 (gradients w/ dark blue 2): #274370
	dark medium blue (placeholder text, attention grabbers, & such): #5DA3DA
	light medium blue: #ACCFEB
	light blue: #DBF2FE
	white: #ffffff
	dark red (for notifs): #B23B2D
	light red (for notifs): #CD6C60
	
TODO:
	fiddle w colors to make it ~pretty~	

OTHER NOTES:
	yeehaw

*/

#fieldStack {
	-fx-padding: 20;
	-fx-background-color: #DBF2FE;
	-fx-background-radius: 10;
	-fx-border-color: linear-gradient(to top left, #22385B, #274370);
	-fx-border-width: 2;
	-fx-border-radius: 10;
}


#signUpButton {
	-fx-background-color: linear-gradient(#ACCFEB, #5DA3DA);
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 3;
}